<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<h1>{{ blog.title }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img class="img-centered hanshotfirst" src="img/hanshotfirst.png">
		</div>
	</div>

	{% include "search_form.html" %}

	<div class="row">

		<div class="col-xs-12 col-sm-8 col-md-9">

			<div class="row">
			{% for key,blogpost in blog.posts %}

				<div class="col-xs-12">
					<h2><a class="yellow_txt" href="?blogpost={{blogpost.id}}">{{blogpost.headline}}</a></h2>
				</div>
				<div class="col-xs-12">
					<h4><a href="?category={{blogpost.catid}}">{{blogpost.catname}}</a></h4>
				</div>
				<div class="col-xs-12">
					<p>{{blogpost.shorttext}}</p>
				</div>
				<div class="col-xs-12">
					<p><small>{{blogpost.datetime}} av {{blogpost.username}}</small></p>
				</div>
				<div class="col-xs-12">
					<a href="?blogpost={{blogpost.id}}">Läs mer</a>
					<div class="lightsaber"></div>
				</div>

			{% endfor %}
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-3">


			<div class="row">
				<div class="col-xs-12">
					<h3>Visa kategorier:</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a class="btn myBtn btn-block" href="./">alla</a>
				{% for key,category in blog.allcategories %}
					<a class="btn myBtn btn-block" href="?category={{category.id}}">{{category.name}}</a>
				{% endfor %}
			</div>
			</div>
		</div>
	</div>
</div>