
  <form action='' method='post'>
	Namn: <input type='text' name='name' required> <br>
	Användarnamn: <input type='text' name='username' required> <br>
	Lösenord: <input type='password' name='password' required> <br>
	Medlemskap: 
	<select name='membership' required>
		<option value='0'>-- Välj medlemskap --</option>
		{% for return in createAccountForm %}
			<option value='{{ return.membership_name }}'> {{ return.membership_name }} </option>
		{% endfor %}
	</select> <br>
	Adress: <input type='text' name='adress' required> <br>
	Postnummer: <input type='text' name='zip_code' required> <br>
	Stad: <input type='text' name='city' required> <br>
	Län:
	<select name='state' required>
		<option value='0'>-- Välj län --</option>
		{% for return in createAccountForm %}
			<option value='{{ return.state_id }}'> {{ return.state_name }} </option>
		{% endfor %}
	</select><br>
	E-mail: <input type='email' name='email' required> <br>
	Telefon: <input type='text' name='phone'> <br>
	<input type='submit' name='createAccount' value='Skapa konto'>
</form>

