<div class="container">

<div class="row">
	<div class="col-xs-8"><h1>Dashboard</h1></div><div class="col-xs-2 right"><a class="btn myBtn" href="?logout">Logga ut</a></div>

</div>

<div class="row">
	<div class="col-xs-4">

		<p class="textHeader">Totalt antal inlägg</p>
		<div class="row ">
			<div class="col-xs-12 statText">{{blog.dashboardfunctions.blog_count}}</div>
		</div>

	</div>
	<div class="col-xs-4">
		<p class="textHeader">Totalt antal kommentarer</p>
		<div class="row">
			<div class="col-xs-12 statText"> {{blog.dashboardfunctions.comment_count}}</div>
		</div>

	</div>
	<div class="col-xs-4">
		<p class="textHeader">Snitt antal kommentarer per inlägg</p>
		<div class="row">
			<div class="col-xs-12 statText">{{blog.dashboardfunctions.avg}}</div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col-xs-8">
		<p class="textHeaderTop3">Topp 3 mest kommenterade inlägg</p> 

{% for key,post in blog.top3CommentedPosts %}

<p class="top3Posts">{{post.headline}} <span class="nrOfComments">({{post.comments}})</span></p>

{% endfor %}
	</div>

</div>

<div class="lightsaber"></div>	
</div>

<div class="container">

<div class="row">
	<div class="col-xs-12">
		<h2 class="textHeaderTop3">Skriv blogginlägg</h2>

<form role="form" method="post" action="./">
			
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				
				<label for="headline" class="postHeader">Rubrik</label>
				<input type="text" aria-describedby="sizing-addon2" class="form-control req no-border-radius" id="" name="headline" value="" />
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-12">

			<div class="form-group">

			<label for="text" class="postHeader">Text</label>
			<textarea class="form-control no-border-radius" rows="5" name="text"></textarea>

			</div>

		</div>

	</div>	

	<div class="row">

		<div class="col-xs-12"> <span class="postHeader">
		Välj kategori </span>
		<select class="form-control no-border-radius" name="category">

			{% for key,category in blog.categories %}
  			
  				<option value="{{key}}">{{category}}</option>

  			{% endfor %}

			</select>

		</div>

	</div>
	
	<div class="row">
				
		<div class="col-xs-12">
			
			<div class="form-group">
			
				<button type="submit" name="save_blog_post" class="btn btn-lg myBtn">Spara</button>
				<a href="./" class="btn btn-lg back myBtn">Avbryt</a>
			
			</div>
		</div>
	</div>
</form>
	</div>
</div>

</div>