<!--Email-formulär-->
{% if session.user %}
	{% include 'headOnline.html' %}
{% else %}
	{% include 'headOffline.html' %}
{% endif %}
<form action='?/Contact/emailSent' method='post'>
	Ditt namn: 
	<input type='text' name='name' required autofocus><br>
	Din e-post: 
	<input type='email' name='email' required><br>
	Meddelande: 
	<textarea name='message' cols='45' rows='6'></textarea><br>
	<input type='hidden' name='user_id' value="{{product.user_id}}"><br>
	<input type='hidden' name='subject' value="{{product.title}}"><br>
	<input type='hidden' name='sellerEmail' value="{{product.email}}"><br>
	<input type='submit' name='send' value='Skicka'>
</form>
<div class="row">
<div class="col-xs-12 wrapper">
{% include 'footer.html' %}