<!--Footer-->
<!--Bootstrap Script--><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<!--Start Cookie Script--> <script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/6c955dd4e1539b275a77ee179040c1c0.js"></script> <!--End Cookie Script-->
</body>
</html>