
	</div>
</div><!--wrapper close-->

<!--Footer-->
	<div class="row">

			<div class= "col-xs-12 footer">
				<ul>
					<li><a class="footerLink" href="?/Info/support">Kundsupport</a></li>
					<li><a class="footerLink" href="?/Info/aboutUs">Om Webbloppis.com</a></li>
					<li><a class="footerLink" href="?/Info/membershipInfo">Medlemsskap</a></li>
					<!-- <li><a href="">Vanliga frågor</a></li> -->
				</ul>
			</div>
	</div>
</div><!--container fluid close-->

<!--Bootstrap Script--><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<!--Start Cookie Script--> <script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/6c955dd4e1539b275a77ee179040c1c0.js"></script> <!--End Cookie Script-->
</body>
</html>