<!doctype>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<link type="text/css"  rel="stylesheet" href="style.css">
</head>
<body>

<p>{{name}}</p> 

{{loginForm | raw}}

{{createAccountForm | raw}}
{{stateMenu | raw}}
{{createAccountForm2 | raw}}

{{newProductForm | raw}}

{{categoryMenu | raw}}

{{subcategoryMenu | raw}}

{{newProductForm2 | raw}}

{{addProduct | raw}}

{{uploadProduct | raw}}

{{logoutForm | raw}}

{{logoutMsg}}

{{viewAddImage | raw}}

{{viewProductAdd | raw}}

</body>
</html>