<!doctype>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<link type="text/css"  rel="stylesheet" href="style.css">
</head>
<body>

<p>{{name}}</p> 

{{loginForm | raw}}

{{searchForm | raw}}

{{searchResult | raw}}

{{createAccountForm | raw}}

{{newProductForm | raw}}

{{addProduct | raw}}

{{uploadProduct | raw}}

{{logoutForm | raw}}

{{logoutMsg}}

{{showProductsForm | raw}}

{{goBackToFirstLoggedInPage | raw}}

{{viewAddImage | raw}}

{{viewProductAd | raw}}

{{printMailform | raw}}

{{viewCategory | raw}}

{{viewSubcategory | raw}}

{{viewState | raw}}

{{viewProfile | raw}}

{{openMailform | raw}}

{{showPersonalPage | raw}}

{{viewPersonalAds | raw}}

{{viewUserProducts | raw}}


</body>
</html>