<!doctype>
<html>
{% include 'header.html' %}
<body>
<a href="?index">
  <h1>Webbloppis</h1>
</a>

<!-- LOGIN-FORMULÄRET -->
{% if session.username == false %}
  <form class="form-inline" method='post'>
    <div class="form-group">
      <label for="username">Användarnamn</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Lösenord</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" name="login" class="btn btn-primary">Logga in</button>
    <a href="?SkapaKonto" class="btn btn-primary">Skapa konto</a>
  </form>
  
  {% if createAccountForm %}
    {% include 'createAccount.html' %}
  {% endif %}


{% endif %}


<!-- HÄLSAR ANVÄNDAREN VÄLKOMMEN -->
{% if session.username == true %}

	{% include 'userLoggedIn.html' %}

  {% if newProductForm %}
    {% include 'newProductForm.html' %}
  {% endif %}

  {{productAdded | raw}}

  {% if viewPersonalAds %}
    {% include 'printAd.html' %}
  {% endif %}


  {{updateProduct | raw}}

  {{productUpdated | raw}}

  {{deleteProduct | raw}}

  {{personalData | raw}}

  {{personalUpdated | raw}}
 
  {{deletePersonal | raw}}

  {{writeReviewButton | raw}}

  {% if reviewForm %}
    {% include 'reviewForm.html' %}
  {% endif %}

  {{sendReview | raw}}

{% endif %}



{% if viewProductAdd %}
  {% include 'printAd.html' %}
{% endif %}

{{searchForm | raw}}

{% if searchResult %}
  {% include 'printAd.html' %}
{% endif %}

{% if printProductThumbnail %}
  {% include 'printAd.html' %}
{% endif %}

{% if printUserProducts %}
  {% include 'printAd.html' %}
{% endif %}

{% if printMailform %}
  {% include 'emailForm.html' %}
{% endif %}

{{emailSent | raw}}

{% if printCategoryProducts %}
  {% include 'printAd.html' %}
{% endif %}

{% if printSubcategoryProducts %}
  {% include 'printAd.html' %}
{% endif %}

{% if printStateProducts %}
  {% include 'printAd.html' %}
{% endif %}

{% if showReviews %}
  {% include 'reviews.html' %}
{% endif %}

{{rateButton | raw}}

<div id="footer">

<br><span class=''>Kontakt</span><span>Företaget</span>
<!--Start Cookie Script--> <script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/6c955dd4e1539b275a77ee179040c1c0.js"></script> <!--End Cookie Script-->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</body>



</html>