<!--Login formulär-->
<form class="form-inline" method='post' action="?/User/login">
  <ul class="nav pull-right padding-left">
      <a href="?/User/register" class="btn">Skapa konto</a>
      </ul>
    <ul class="nav pull-right">
      <li class="dropdown" id="menuLogin">
        <button type="submit" class="btn" data-toggle="dropdown" id="navLogin">Logga in</button>
        <div class="dropdown-menu" style="padding:17px;">
          <form class="form" id="formLogin" method="post" action="?/User/login"> 
            <div class="form-group">
              <input name="username" id="username" class='form-control' placeholder="Användarnamn" type="text"> 
              <input name="password" id="password" class='form-control' placeholder="Lösenord" type="password"><br>
            </div>
            <button type="submit" name="login" class="btn btn-default">Logga in</button>
          </form>
        </div>
    </li>
  </ul>
</form>
