	{% if session.user %}
		{% include 'headOnline.html' %}
	{% else %}
		{% include 'headOffline.html' %}
	{% endif %}
	{% include 'searchForm.html' %}

<div>
<h3>Medlemsskap</h3>
<p>Det finns tre olika annonspaket som man kan prenumerera på. Den lägsta nivån är brons som innehåller 10 annonsplatser. Nästa nivå är silver som innehåller 50 annonsplatser, och till sist finns guld som innehåller 150 annonsplatser. I tabellen nedan finns information om vad som ingår i varje paket.</p>

<table>
  <tr>
    <td>Brons</td>		
    <td>Silver</td>
    <td>Guld</td>
  </tr>
  <tr>
    <td></td>
    <td></td>		
    <td></td>
  </tr>
  <tr>
    <td>99 kr</td>
    <td></td>		
    <td>80</td>
  </tr>
</table>

</div>

<div class="row">
<div class="col-xs-12 wrapper">
{% include 'footer.html' %}