<!--Header med inloggningsknapp-->
<!DOCTYPE html>
<html>
<head>
<title>Webbloppis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" type="text/css" href="../stylesheet.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  </head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 logo"><a href='../index.php'><img src="../links/webbloppis_logo.png" class="center-block" alt="Webbloppis logo"></a></div>
	</div>

	<div class="row">
	<div class="col-xs-12 wrapper">


<div class = 'info'>
	<h3>Medlemsskap</h3>
	<p>Det finns tre olika annonspaket som man kan prenumerera på. Den lägsta nivån är brons som innehåller 10 annonsplatser. Nästa nivå är silver som innehåller 50 annonsplatser, och till sist finns guld som innehåller 150 annonsplatser. I tabellen nedan finns information om vad som ingår i varje paket.</p>

	<table>
	  <tr>
	  	<th>Paket</th>
	    <th>Brons</th>		
	    <th>Silver</th>
	    <th>Guld</th>
	  </tr>
	  <tr>
	    <td>Pris</td>
	    <td>99 kr</td>		
	    <td>299 kr</td>
	    <td>499 kr</td>
	  </tr>
	  <tr>
	    <td>Annonsplatser</td>
	    <td>10</td>		
	    <td>50</td>
	    <td>150</td>
	  </tr>
	  <tr>
	    <td>Sökoptimering (Kommer inom kort)</td>
	    <td>-</td>		
	    <td>X</td>
	    <td>X</td>
	  </tr>
	</table>

</div>
<a class = 'back' href="../index.php">Tillbaka</a>
<div class="row">
	<div class="col-xs-12 wrapper">
</div>
	</div><!--wrapper close-->

<!--Footer-->
	<div class="row">

			<div class= "col-xs-12 footer">
				<ul>
					<li><a class="footerLink" href="support.html">Kundsupport</a></li>
					<li><a class="footerLink" href="about.html">Om Webbloppis.com</a></li>
					<li><a class="footerLink" href="membershipinfo.html">Medlemsskap</a></li>
				</ul>
			</div>
	</div>
</div><!--container fluid close-->

<!--Bootstrap Script--><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<!--Start Cookie Script--> <script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/6c955dd4e1539b275a77ee179040c1c0.js"></script> <!--End Cookie Script-->
</body>
</html>