<form action='?/UploadController/completeUpload' method='POST' enctype="multipart/form-data">
	Önskad titel:<input type='text' name='title' autofocus><br>
	Beskrivande text:<textarea name='text' cols='45' rows='6'></textarea><br>
	Önskat pris:<input type='number' name='price'><br>
	Lägg till en bild:<input type='file' name='file' id='file'><br>
	Välj kategori:
		<select name='category'>
			<option value='0'>-- Välj en kategori --</option>
			{% for category in categories %}
				<option value='{{category.category_id}}'> {{category.category_name}} </option>
			{% endfor %}
		</select><br>

	Välj underkategori:
		<select name='subcategory'>
			<option value='0'>-- Välj en underkategori --</option>
			{% for subcategory in subcategories %}
				<option value='{{subcategory.subcategory_id}}'> {{subcategory.subcategory_name}} </option>
			{% endfor %}
		</select><br>

	Välj län:
		<select name='state'>
			<option value='0'>-- Välj ett län --</option>
			{% for state in states %}
				<option value='{{state.state_id}}'> {{state.state_name}} </option>
			{% endfor %}
		</select><br>
	<input type='submit' name='createProduct' value='Publicera annonsen'>
</form>