<!--Ny annons-formulär-->
<form class="form-inline" action='?/UploadController/completeUpload' method='POST' enctype="multipart/form-data">
<div class="form-group">
	<label for="title">Önskad titel:</label><br>
	<input type='text' name='title' autofocus><br>
	<label for="text">Beskrivande text:</label><br>
	<textarea name='text' cols='45' rows='6'></textarea><br>
	<label for="price">Önskat pris:</label><br>
	<input type='number' name='price'><br>
	<label for="image">Lägg till en bild:</label><br>
	<input type='file' name='file'><br>
	<label for="category">Välj kategori:</label><br>
		<select name='category' class='form-control'>
			<option value='0'>-- Välj en kategori --</option>
			{% for category in categories %}
				<option value='{{category.category_id}}'> {{category.category_name}} </option>
			{% endfor %}
		</select><br>

	<label for="subcategory">Välj underkategori:</label><br>
		<select name='subcategory' class='form-control'>
			<option value='0'>-- Välj en underkategori --</option>
			{% for subcategory in subcategories %}
				<option value='{{subcategory.subcategory_id}}'> {{subcategory.subcategory_name}} </option>
			{% endfor %}
		</select><br>

	<label for="state">Välj län:</label><br>
		<select name='state' class='form-control'>
			<option value='0'>-- Välj ett län --</option>
			{% for state in states %}
				<option value='{{state.state_id}}'> {{state.state_name}} </option>
			{% endfor %}
		</select><br>
		<button type='submit' name='createProduct' class="btn btn-default">Publicera annonsen</button>
		</div>
	
</form>

